<footer>
    <p id="sponsors"><span id="a">A </span><a href="https://www.pluralsight.com/"><img src="/assets/logos/pluralsight_logo.png" alt="Pluralsight link" id="pluralsight"></a>
        <a href="https://www.andela.com/"><img src="/assets/logos/andela_logo.png" alt="Andela link"></a>
        <a href="https://grow.google/"><img src="/assets/logos/google_grow_logo.png" alt="Grow with Google link"></a><span> initiative</span></p>
    <p id="inline"><span>Contact us: </span><a href="hello@eazitrans.com">hello@eazitrans.com</a></p>
    <nav id="social">
        <a href="https://facebook.com/eazitrans/"><img src="/assets/logos/facebook.webp" alt="Facebook link"></a>
        <a href="https://twitter.com/eazitrans/"><img src="/assets/logos/twitter.svg" alt="Twitter link"></a>
        <a href="https://instagram.com/eazitrans/"><img src="/assets/logos/instagram.jpg" alt="Instagram link"></a>
        <a href="https://github.com/Original-Les/eazitrans"><img src="/assets/logos/github.svg" alt="Github link"></a>
    </nav>
        <p>Copyright &copy; eazitrans 2020</p>
</footer>
