<app-header></app-header> 
<main>
    <article>
        <div id="description">
            <p>
            Eazitrans is a simple, convenient, cashless form of
             payment for your day to day movement. Pay your fares 
             and tolls, track your day to day spending on 
             transport with just your mobile device. With secured 
             payments and price transparency be rest assured as you 
             engage with us. 
            </p>
            <div id="list">
                <h2>Why choose Eazitrans</h2>
                <ul>
                    <li>Timely and convenient</li>
                    <li>Cashless</li>
                    <li>No hassle, no sweat</li>
                    <li>Track spending</li>
                    <li>Secure</li>
                    <li>Price transparency</li>
                </ul>
            </div>
        </div>
        <img id="imgDescription" src="/assets/images/payment.jpg" alt="Description">
    </article>
    <section>
        <div class="green" id="register">
            <h2><a href="#">Register</a></h2>
            <p><!--<span>All we need is just a few details from you. </span>-->
                 Join the the revolution in transport payments and 
                beyond.
            </p>
        </div>
        <div class="pay green" id="fare">
            <h2><a href="#">Pay  Fare</a></h2>
            <p>Pay your fares with just the tap of your
                fingers. No wahala.
            </p>
        </div>
        <div class="pay green" id="toll">
            <h2><a href="#">Pay Toll</a></h2>
            <p>Spend no time at your toll booth, pay your toll in seconds.</p>
        </div>
    </section>
</main>
<app-footer></app-footer>

