<header>

        <img src="/assets/logos/eazitrans_bus_cropped.png" id="logo" class="clear" alt="Eazitrans logo">
        <a href="#" id="barLink" (click)='showHide()'><img src="/assets/icons/{{hideElements ? 'bars-solid' :  'times'}}.svg" id="bars" alt="Navigation button"></a>
    <nav id="hiddenElements">
        <a href="#" class="clear hide">Home</a>
        <a href="#" class="hide">Register</a>
        <a href="#" class="hide">Profile</a>
        <a href="#" class="hide">Pay Fare</a>
        <a href="#" class="hide">Pay Toll</a>
        <a href="#" class="hide">About us</a>
    </nav>  
</header>